<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "nav.html" . -}}
    <br>
<div class="container mb-5 mt-5 pt-5">
    <div class="bg-white p-5 " style="border-radius: 20px;">
       <h3>Laporan Bidang Kajian CDMS</h3>
      
       <a href="/laporan/januari.docx"> Bulan Januari 2022</a><br>
       <a href="#"> Bulan februari 2022</a><br>
       <a href="#"> Bulan maret 2022</a><br>
       <a href="#"> Bulan April 2022</a> <br>
       <a href="#"> Bulan Mei 2022</a><br>
       <a href="#"> Bulan Juni 2022</a><br>
       <a href="#"> Bulan Juli 2022</a> <br>
       <a href="#"> Bulan Agustus 2022</a><br>
       <a href="#"> Bulan Spetember 2022</a><br>
       <a href="#"> Bulan Oktober 2022</a><br>
       <a href="#"> Bulan November 2022</a><br>
       <a href="#"> Bulan Desember 2022</a><br>

      <h3 class="mt-3">Laporan Keuangan CDMS</h3>
       <a href="https://bit.ly/keuangancdms">Bulan September 2022</a><br>
       <a href="#"> Bulan Oktober 2022</a><br>
       <a href="#"> Bulan November 2022</a><br>
       <a href="#"> Bulan Desember 2022</a><br>
    </div>
</div>
</div>
 {{- partial "footer.html" . -}}
    {{- partial "js-init.html" . -}}
</html>
