<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "nav.html" . -}}
   {{ partial "header.html" . }} 
   
    <div class="box-struktur mb-5">
        <div class="container d-flex justify-content-center align-items-center">
          <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan R</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/3.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Muksin K Gole</h2>
                      <center><span>Koor Kajian</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan R</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Muksin Gole</h2>
                      <center><span>Koor Kajian</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan R</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan R</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan R</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan R</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan R</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan R</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan R</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <div class="box-cards">
              <div class="imgBx">
                  <img src="/img/struktur/2.png" alt="">
              </div>
              <div class="content">
                  <div class="details">
                      <h2>Izza Wildan R</h2>
                      <center><span>Koor Media</span></center>
                      <ul class="social_icons">
                          <li><a href=""><i class="fab fa-facebook"></i></a></li>
                          <li><a href=""><i class="fab fa-twitter"></i></a></li>
                          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
    </div>
    </div>
 {{- partial "footer.html" . -}}
    {{- partial "js-init.html" . -}}
</html>
