<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top" id="navbar-home">
      <div class="container">
        <a class="navbar-brand" href="{{.Site.BaseURL}}"><img src="/img/logo.png" alt="" height="50px" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{.Site.BaseURL}}">Home</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">Tentang Kami</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/struktur">Struktur Organisasi</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/laporan">Laporan</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link btn btn-warning text-white btn-donasi" href="/donasi">Donasi</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- akhir header -->

    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="jumbotron-isi">
          <h2>
            Corps Dakwah <br />
            Masjid Syuhada
          </h2>
          <span>- CDMS -</span>
        </div>
      </div>
    </div>
    <!-- akhir jumbotron -->

    <!-- Pengantar -->
    <section class="pengantar py-5 my-0 py-sm-5 my-sm-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-sm-6">
            <span class="f-philo f-ket">Selamat datang di website</span>
            <h2 class="f-philo f-jdl">
              Corps Dakwah <br />
              Masjid Syuhada
            </h2>
            <p>CDMS merrupakan lembaga semi otonom di bawah yayasan masjid syuhada (YASMA) , berkedudukan di Masjid Syuhada Yogyakarta yang beralamat di jalan 1 dewa nyoman oka 13 kotabaru yogyakarta</p>

            <a href="/profile" class="btn-custom text-center" style="border-radius: 5px">selengkapnya</a>
          </div>
          <div class="col-12 col-sm-6 mt-5 mt-sm-0">
            <img src="/img/3.JPG" alt="" width="100%" style="border-radius: 5px" />
          </div>
        </div>
      </div>
    </section>

    <div class="container my-sm-5">
      <!-- spotify -->
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/show/6o1d4CVZXBfDI7zqWXPrjb?utm_source=generator&theme=0"
        width="100%"
        height="352"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>
    </div>
    <!-- Akhir spotify -->
    <!--Akhir Pengantar -->
    <h2 class="text-center mb-5 f-philo">Blog Terbaru</h2>
    {{ partial "post-grid.html" . }}

    <!-- Donasi Dakwah -->
    <section class="donasi bg-warning p-5 text-white">
      <h3 class="text-center donasi-isi f-philo">Donasi Untuk Dakwah</h3>
      <br />
      <div class="row justify-content-md-center donasi-isi align-items-center">
        <div class="col-12 col-sm-6 text-center text-md-right">
          <img src="/img/donasi.png" alt="" width="200px" />
          <p>
            Donasi untuk dakwah <br />
            Rp 1000 ? bisa dongg <br />
            tinggal Scan Dengan QRIS
          </p>
          <div class="d-block d-sm-none">
            Atau Melalui Rekening BANK BSI <br />
            <h1><b>7183996538</b></h1>
            <span>An.Corps Dakwah Mjd Syuhada</span>

            <br /><br />
            <span>Konfirmasi ke </span>
            <h3><b>085643301453</b></h3>
            <span>An. Izza Wildan Ridhoni</span>
          </div>
        </div>
        <div class="col-12 col-sm-6 d-none d-sm-block">
          Atau Melalui Rekening BANK BSI <br />
          <h1><b>7183996538</b></h1>
          <span>An.Corps Dakwah Mjd Syuhada</span>

          <br /><br />
          <span>Konfirmasi ke </span>
          <h3><b>085643301453</b></h3>
          <span>An. Izza Wildan Ridhoni</span>
        </div>
      </div>
    </section>
    <!-- Akhir Donasi Dakwah -->

    <!-- maps -->
    <section class="maps py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="box">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.3814729720715!2d110.36924350819032!3d-7.786128690761765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a582e4bf0fdab%3A0xe71fab312b2f5b84!2sCorps%20Dakwah%20Masjid%20Syuhada!5e0!3m2!1sid!2sid!4v1641455449199!5m2!1sid!2sid"
                width="100%"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe
              ><br />
              <i class="fas fa-map-marker-alt"></i> <span>Lokasi Kantor Kami</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir maps -->

    <!-- widget whatsapp -->

    <div class="elfsight-app-63898b03-3081-4c7b-b578-1b7572896f33"></div>
    <script>
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 100) {
          document.getElementById('navbar-home').style.backgroundColor = 'white';
          var element = document.getElementById('navbar-home');
          element.classList.add('navbar-light');
          element.classList.remove('navbar-dark');
        } else {
          document.getElementById('navbar-home').style.backgroundColor = 'transparent';
          var element = document.getElementById('navbar-home');
          element.classList.remove('navbar-light');
          element.classList.add('navbar-dark');
        }
      }
    </script>
    {{ partial "footer.html" . }} {{ partial "js-init.html" . }}
  </body>
</html>
